<mat-nav-list>
    <a 
    mat-list-item
    *ngFor="let modulo of modulos" 
    [routerLink]="modulo" 
    (click)="onSidenavClose()"
    >
        <mat-icon color="primary">view_module</mat-icon> <span class="nav-caption">{{modulo}}</span>
    </a>
    <!--mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon color="primary">build</mat-icon>
        <a matline>Sub-menus</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSidenavClose()">Ver Perfil</button>
        <button mat-menu-item (click)="onSidenavClose()">Ayuda</button>
    </mat-menu-->
</mat-nav-list>