/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.colorWhite {
  color: #ffffff !important;
}

.btnExcelContainer {
  width: 100%;
  height: 80%;
  padding: 15px 30px;
}

.container {
  width: 100%;
  height: 100% !important;
}
