<div>
  <app-breadcrumb [config]="breadcrumb"></app-breadcrumb>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="btnExcelContainer">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Buscar personal"
        />
      </mat-form-field>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>COD.</th>
      <td mat-cell *matCellDef="let row">
        {{ row.id }}
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</th>
      <td mat-cell *matCellDef="let row">
        {{ row.nombres + " " + row.apellidos }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acción</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <mat-form-field>
          <mat-select placeholder="Acción" [(ngModel)]="tipo_asistencia[i]">
            <mat-option *ngFor="let accion of acciones" [value]="accion.name">{{
              accion.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="guardar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Guardar asistencia
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="btnExcelContainer">
          <mat-card-actions>
            <mat-spinner-button
              *ngIf="hora"
              align="right"
              class="colorWhite"
              [options]="spinnerButtonOptions"
              (click)="registrarAsistencias(row)"
            >
            </mat-spinner-button>
          </mat-card-actions>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
