<div class="container-fluid">
  <app-breadcrumb [config]="breadcrumb"></app-breadcrumb>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <mat-card color="primary" class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Registrar Orden</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="regOrdenCompraForm">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Proveedor</mat-label>
                  <mat-select formControlName="proveedor" autocomplete="off" placeholder="Proveedor" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search formControlName="proveedor_buscador">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let prov of proveedorFiltrado | async" [value]="prov.id">
                      {{ prov.razon_social }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Tipo de Orden</mat-label>
                  <mat-select formControlName="tipo_orden" autocomplete="off" placeholder="Tipo de Orden">
                    <mat-option [value]="1"> Orden de Compra </mat-option>
                    <mat-option [value]="2"> Orden de Servicio </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline" class="disabled">
                  <mat-label>Dirección</mat-label>
                  <textarea matInput formControlName="direccion" placeholder="Dirección" rows="1" readonly></textarea>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline" class="disabled">
                  <mat-label>Correo</mat-label>
                  <input matInput formControlName="correo" placeholder="Correo" readonly />
                </mat-form-field>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline" class="disabled">
                  <mat-label>Teléfono</mat-label>
                  <input matInput formControlName="telefono" placeholder="Teléfono" readonly />
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline" class="disabled">
                  <mat-label>RUC</mat-label>
                  <input matInput formControlName="ruc" placeholder="RUC" readonly />
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline" class="disabled">
                  <mat-label>Fecha</mat-label>
                  <input matInput formControlName="fecha" placeholder="Fecha" readonly />
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Forma de pago</mat-label>
                  <mat-select formControlName="forma_pago" placeholder="Forma de pago" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search formControlName="forma_pago_buscador">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let fp of formaPagosFiltrado | async" [value]="fp.id">
                      {{fp.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Moneda</mat-label>
                  <mat-select formControlName="moneda" autocomplete="off" placeholder="Moneda" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search formControlName="moneda_buscador">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let moneda of monedasFiltrado | async" [value]="moneda.id">
                      {{moneda.nombre + ' ' + '('+ moneda.codigo +')'}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-6">

                <mat-form-field appearance="outline">
                  <mat-label>Banco</mat-label>
                  <mat-select formControlName="banco" placeholder="Banco" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search formControlName="banco_buscador">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let banco of bancosFiltrado | async" [value]="banco.id">
                      {{ banco.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Número de cuenta</mat-label>
                  <input matInput formControlName="num_cuenta" placeholder="Número de cuenta" />
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Número de cuenta interbancario</mat-label>
                  <input matInput formControlName="num_cuenta_cci" placeholder="Número de cuenta interbancario" />
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Programa Cliente</mat-label>
                  <input matInput formControlName="programa" placeholder="Programa Cliente" />
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>PO / Estilo</mat-label>
                  <input matInput formControlName="po" placeholder="PO / Estilo" />
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="fecha_entrega" [matDatepicker]="picker"
                    placeholder="Fecha de entrega" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline" class="disabled">
                  <mat-label>Lugar de entrega</mat-label>
                  <textarea matInput formControlName="lugar_entrega" placeholder="Lugar de entrega" rows="1"
                    readonly></textarea>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-checkbox formControlName="igv" labelPosition="before" color='primary'>Incluir IGV</mat-checkbox>

              </div>
            </div>
          </form>

          <div class="row tbl_dialog_container">
            <div class="col-sm-12">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef>ITEM</th>
                  <td mat-cell *matCellDef="let element">{{ element.item }}</td>
                </ng-container>

                <ng-container matColumnDef="concepto">
                  <th mat-header-cell *matHeaderCellDef>
                    {{desc_title}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.concepto }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                  <th mat-header-cell *matHeaderCellDef>CANTIDAD</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.cantidad }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="unidad_medida">
                  <th mat-header-cell *matHeaderCellDef>UND DE MED.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.unidad_medida }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="precio_unitario">
                  <th mat-header-cell *matHeaderCellDef>PRECIO UNITARIO</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.precio_unitario }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="precio_total">
                  <th mat-header-cell *matHeaderCellDef>PRECIO TOTAL</th>
                  <td mat-cell *matCellDef="let element">
                    {{ precioTotalRow(element) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef>
                    <button mat-mini-fab color="primary" (click)="agregarItem()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="removeRow(element)">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>

              <!--tabla de diferencias e igv-->

              <table mat-table [dataSource]="transactions" class="mat-elevation-z8 conteoTotal">
                <!-- Item Column -->
                <ng-container matColumnDef="titles">
                  <th mat-header-cell *matHeaderCellDef>-</th>
                  <td mat-cell *matCellDef="let transaction">
                    {{transaction.item }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef>Total</td>
                </ng-container>

                <!-- Cost Column -->
                <ng-container matColumnDef="costos">
                  <th mat-header-cell *matHeaderCellDef>-</th>
                  <td mat-cell *matCellDef="let transaction">
                    {{simboloMoneda}} {{ transaction.cost }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef>
                    {{ getTotalCost() }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns_igv"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns_igv"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns_igv"></tr>
              </table>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions align="right">
          <div>
            <button mat-stroked-button style="float:left" (click)="regOrdenCompraForm.reset()">
              Cancelar
            </button>
            <mat-spinner-button [options]="spinnerButtonOptions" (click)="registrarOrdenCompra()">
            </mat-spinner-button>
            <!--Generar PDF-->
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>