@import "../../../../scss/theme";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

mat-form-field {
  width: 100%;
}


.container {
  .header-container {
    margin-top: 100px;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    color: mat-color($primary);
    font-size: 20px;
  }
  .login-container {
    padding: 20px 40px 10px 40px;

    .mat-card-title {
      text-align: center;
      color: rgba($color: #000000, $alpha: 0.65);
      padding-bottom: 10px;
    }

    .eye-password {
      cursor: pointer;
    }

    mat-card-actions {
      margin-bottom: 15px;
    }
  }
}